#crlngn-requests-menu {
  box-sizing: border-box;
  border-radius: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: var(--color-text-light-highlight);
  display: block;
  font-size: 0.75rem;
  position: fixed;
  right: var(--current-sidebar-width, 5px);
  bottom: 0;
  width: auto;
  z-index: var(--z-index-app);
  pointer-events: none;
  height: auto;

  &.hidden{
    display: none;
  }
}

/* Style for when the menu needs to grow upward */
#crlngn-requests-menu.grow-up {
  bottom: 0px;
  top: auto; /* Let the JS handle the top position */
}

#crlngn-requests-menu > div > ul {
  pointer-events: all;
  list-style: none;
  width: 12.8rem;
  margin: 0;
  padding: 1em 0.25em 1em 1em;
  height: auto;
  max-height:50vh;
  min-height: 265px;
  overflow-y: hidden;
  background: var(--left-control-main-bg, rgba(20, 20, 20, 0.9));
  border: 1px solid rgba(0, 0, 0, 1);
  font-size: var(--font-size-13);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#crlngn-requests-menu > div > ul.actors > li.options-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em 1em;
  cursor: pointer;
  margin: 0.5em 0;
  border-top: 1px solid rgba(255, 255, 255, 0.06);

  &:before{
    content: "settings";
    font-weight: 500;
    display: inline-block;
    margin-left: auto;
  }
  &:after{
    content: "\f0d8";
    font-family: var(--font-awesome);
    font-weight: bold;
    display: inline-block;
    width: 1.5em;
    text-align: right;
  }

  &.expanded:after{
    content: "\f0d7";
  }

  &:hover, &:focus{
    background: rgba(255, 255, 255, 0.06);
    outline: 0;
  }
}

#crlngn-requests-menu > div > ul.actors > li.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  margin-right: 0.5rem;
  max-height: 1.5em;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;

  &.expanded{
    max-height: 10em;
  }

  > * {
    min-height: 1.8em;
  }

  .selection-row{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    label[for=crlngn-actors-all] {
      margin-right: auto;
      cursor: pointer;
    }
  }

  .settings{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;

    > li{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
    }
  }
}

#crlngn-requests-menu > div > ul.actors > li.actor-list {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 0 0.75em 0 0;
  
  > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 5px;
  }
}

#crlngn-requests-menu > div > ul.actors > li.actor-list > ul > li.actor,
#crlngn-requests-menu > div > ul.actors > li.actor {
  align-items: flex-start;
  display: grid;
  grid-template-columns: 1.2rem minmax(0, 1fr) 2.75rem;
  margin:  0 0 1em 0;
  padding: 0;
  gap: 3px;
  height: auto;
  cursor: pointer;

  &:hover, &:focus {
    background: rgba(255, 255, 255, 0.06);
    outline: 0;
  }
  &.selected {
    background: var(--color-highlights-50, var(--color-warm-2));
    color: var(--color-light-1);
  }

  > .actor-select{
    background: rgba(0, 0, 0, 0.25);
    /*background-image: linear-gradient(to right, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));*/
    color: var(--color-light-1);
    border-radius: 0;
    border: 0;
    height: 100%;
    padding: 2px;
    accent-color: var(--color-highlights, var(--color-warm-2));
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    i {
      font-size: var(--font-size-10);
      pointer-events: none;
    }

    &:hover, &:focus {
      outline: 0;
      box-shadow: none;
    }

    &:hover {
      background: var(--color-warm-2);
    }
  }

  > .actor-img{
    width: 100%;
    height: 100%;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.25);
    border: 0;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /*aspect-ratio: 1;*/
    padding: 1px;

    img{
      object-fit: cover;
      width: 100%;
      height: 100%;
      border: 0;
      pointer-events: none;
    }
  }
}
#crlngn-requests-menu > div > ul.actors > li.actors-tabs{
  display: flex;
  align-items: center;
  border-top: 1px solid #000;
  margin: auto 0 0 0;
  justify-content: flex-end;
  flex-shrink: 0;

  button {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 0;
    color: rgba(160,160,160, 1);
    border: 1px solid transparent;
    cursor: pointer;
    box-shadow: none;
    padding: 2px 4px;
    line-height: 1.5;
    width: 4em;
    margin: -1px 0 0 0;

    &:hover, &.active{
      border-color: #000;
      background: rgba(0, 0, 0, 0.35);
    }
    &.active{
      background: rgba(0, 0, 0, 0.5);
      color: var(--color-light-1);
    }
  }
}

#crlngn-requests-menu > div > ul.actors > li .actor-data {
  align-self: stretch;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 100%;

  .actor-name {
    width: 100%;
    display: block;
    font-weight: bold;
    padding: 2px 0 0 0;
    margin-left: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: var(--font-size-12);
  }
  .actor-stats {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    gap: 2px;
    align-items: center;
    justify-content: stretch;
    flex-wrap: wrap;

    > li {
      background-color: rgba(0, 0, 0, 0.25);
      padding: 2px 4px;
      display: flex;
      width: 48%;
      flex: 1 1 48%;
      gap: 2px;

      .stat-abbrev{
        font-weight: bold;
        width: 50%;
        flex: 1 1 50%;
      }
    }
  }
}

#crlngn-requests-menu > div > ul.actors > li .selection-row > input[type="checkbox"] {
  margin: 0 0.7em 0 0;
  font-size: 1em;
  font-family: var(--font-sans);
  width: 1.35em;
  height: 1.35em;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid var(--color-border-dark);
  background-color: var(--color-secondary);
  border-radius: 3px;
  cursor: pointer;
  position: relative;
}

#crlngn-requests-menu > div > ul.actors > li .selection-row > input[type="checkbox"]:checked {
  background-color: var(--color-warm-2);
}

#crlngn-requests-menu > div > ul.actors > li .selection-row > input[type="checkbox"]:checked::after {
  content: '\f00c';
  font-family: var(--font-awesome);
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 12px;
  line-height: 1;
}

#crlngn-requests-menu > div > ul.actors > li:first-child {
  font-weight: bold;
  margin-bottom: 0.5em;
  padding-bottom: 4px;
}

/* Request Types Menu */
#crlngn-requests-menu > div > ul.request-types {
  left: calc(-12.8rem + 1px);
  top: 0;
  height: 100%;
  max-height: 50vh;
  min-height: 230px;
  position: absolute;
  display: none;
  overflow-y: auto;
}

#crlngn-requests-menu:hover > div > ul.request-types.visible {
  display: block;
}

#crlngn-requests-menu > div > ul.request-types > li,
#crlngn-requests-menu > div > ul.roll-types > li {
  align-items: center;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  gap: 2px;
  padding: 0.4em;
  line-height: 1.5;

  i {
    margin-right: 3px;
    width: 1.5em;
  }
}

#crlngn-requests-menu > div > ul.roll-types.visible,
#crlngn-requests-menu > div > ul.request-types.visible {
  display: none;
}

#crlngn-requests-menu > div > ul.request-types > li.selected {
  background-color: var(--color-warm-3);
  color: white;
}

/* Roll Types Menu */
#crlngn-requests-menu > div > ul.roll-types {
  left: calc(-25.6rem + 2px);
  top: 0;
  height: 100%;
  max-height:50vh;
  min-height:265px;
  position: absolute;
  display: none;
  overflow-y: auto;
}

#crlngn-requests-menu:hover > div > ul.roll-types.visible {
  display: block;
}

#crlngn-requests-menu > div > ul.roll-types > li:hover {
  background: rgba(255, 255, 255, 0.1);
}

#crlngn-requests-menu > div > ul.request-types > .icon,
#crlngn-requests-menu > div > ul.roll-types > .icon{
  width: 22px;
  font-size: var(--font-size-16);
  text-align: center;
}
#crlngn-requests-menu > div > ul.request-types > .icon.fa-dice-d20,
#crlngn-requests-menu > div > ul.roll-types > .icon.fa-dice-d20{
  font-size: var(--font-size-14);
}

#crlngn-actors-lock{
  cursor: pointer;
  min-width: 1.8em;
  height: 1.8em;
  display: flex;
  align-items: center;
  justify-content: center;
}